{
    "root": true,
    "env": {
        "es2020": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/typescript",
        "plugin:jest/recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": ["import", "jest", "@typescript-eslint"],
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "error",
        "jest/valid-expect": "error",
        "import/no-duplicates": "error",
        "import/no-unresolved": "error",
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    ["internal", "unknown"],
                    ["parent", "sibling", "index"],
                    "object"
                ],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ],
        "linebreak-style": 0,
        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": ["const", "let"], "next": "*" },
            {
                "blankLine": "any",
                "prev": ["const", "let"],
                "next": ["const", "let"]
            }
        ],
        "prefer-destructuring": ["error", { "array": true, "object": true }],
        "no-console": "error",
        "no-redeclare": ["error", { "builtinGlobals": true }]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true,
                "project": "tsconfig.json"
            }
        }
    }
}
